:root {
  /* colors */
  --Black: #0a0a0a;
  --Yellow: #ffe599;
  --Turquoise: #b4dde7;
  --Green: #b2ed9d;
  --Blue: #71a3ff;
  --Pink: #fcc8fa;

  /* fonts */
  --FontLora: "Lora", serif;
  --FontCode: "Source Code Pro", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--FontLora);
  font-size: 1rem;
}

/********** Logo **********/
.logo {
  position: absolute;
}

.logo:before {
  top: 27px;
  content: "";
  position: absolute;
  left: 0;
  width: 100px;
  height: 50px;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.logo img {
  top: 40px;
  left: 40px;
  position: absolute;
  z-index: 2;
}

/********** Main **********/
.main {
  background-image: url(../public/imgs/concrete-tile.jpg);
  background-size: auto;
  background-repeat: repeat;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/********** Wall **********/
.wall-wrapper {
  width: calc(100% - 215px);
  text-align: center;
  max-width: 100%;
}

/********** Frame, Mat and Art **********/
.painting-container {
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 0px;
  transition: all 0.3s ease-in;
}

.painting-container button {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-weight: bold;
  font-size: 2em;
  padding: 0;
  border: none;
  padding: 20px;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.painting-container .previous {
  position: absolute;
  top: 50%;
  left: -70px;
  transform: translate(0%, -50%);
}

.painting-container .next {
  right: -70px;
}

.frame {
  position: relative;
  width: 100%;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
}

.mat {
  position: absolute;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5) inset;
}

.art {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.art:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5) inset;
}

/********** Info Plate **********/
.info-plate {
  text-align: left;
  font-style: italic;
  font-size: 0.8em;
  position: absolute;
  bottom: -80px;
}

.info-plate a {
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  color: var(--Black);
}

/********** Form **********/
.form-wrapper {
  position: absolute;
  height: 100%;
  width: 215px;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 24px;
}

form h3 {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
}

form p {
  font-family: var(--FontCode);
  font-size: 0.8em;
  padding-bottom: 14px;
}

form input {
  cursor: pointer;
}

form input[type="number"] {
  margin-bottom: 8px;
  border: solid white 1px;
  font-size: 0.8em;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
}

form label {
  font-size: 0.8em;
  padding-left: 8px;
}

form button {
  display: block;
  margin: auto;
  border: solid;
  width: 100%;
  padding: 14px;
  background-color: white;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

form button:disabled {
  cursor: not-allowed;
}

form .shadow-button {
  background-color: transparent;
  margin-bottom: 8px;
}

form .speed-tag {
  font-family: var(--FontCode);
  font-weight: bold;
  font-size: 0.8em;
}

/********** custom coloring **********/
.yellow,
.yellow::before {
  background-color: var(--Yellow);
}

.turquoise,
.turquoise::before {
  background-color: var(--Turquoise);
}

.green,
.green::before {
  background-color: var(--Green);
}

.blue,
.blue::before {
  background-color: var(--Blue);
}

.pink,
.pink::before {
  background-color: var(--Pink);
}

.resize {
  display: none;
}

@media only screen and (max-width: 1060px) {
  .resize {
    display: block;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-heigth: 780px) {
  .resize {
    display: block;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
